[Desktop Entry]
Type=Application
Terminal=true
Icon=/usr/share/icons/Adwaita/48x48/status/security-medium-symbolic.symbolic.png
Name=Respaldar Expedientes
Exec=docker exec optica /var/www/html/optica/resources/scripts/backup_optica.sh
